node_modules/
.env
uploads/
C:\Users\gokul\Desktop\green_policy_system\Screenshot 2026-04-06 233805.png
C:\Users\gokul\Desktop\green_policy_system\Screenshot 2026-04-06 233835.png
C:\Users\gokul\Desktop\green_policy_system\Screenshot 2026-04-06 233901.png
C:\Users\gokul\Desktop\green_policy_system\Screenshot 2026-04-06 233927.png
C:\Users\gokul\Desktop\green_policy_system\Screenshot 2026-04-06 233953.png
C:\Users\gokul\Desktop\green_policy_system\Screenshot 2026-04-06 234019.png     